<script type="text/javascript">
  window.public_token = <%= raw(current_user.public_token.to_json) %>;
</script>

<div class="text-center" id="loading"><h4>Loading...</h4></div>
<div ng-view="ng-view"></div>
