<script type="text/javascript">
  <%= render 'auth_token_pairs/auth_token_pair.js', public_token: current_user.public_token %>
</script>

<script type="text/javascript">
  function initializeMap() {
    console.log('initializing map');
    var map = L.map('fountain-admin-map').setView([34.046, -118.25], 3);

    var osmUrl='http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png';
      var osmAttrib='Map data © <a href="http://openstreetmap.org">OpenStreetMap</a> contributors';
    var osmTileLayer = new L.TileLayer(osmUrl, {minZoom: 1, maxZoom: 20, attribution: osmAttrib});
    osmTileLayer.addTo(map);

    var fountainTemplate = Handlebars.compile($("#fountain-details-template").html());

    var fountainUrl = "/api/v1/water_fountains.json?public_token=fake-public-token";
    $.ajax(fountainUrl).done(function(fountains){
      console.log('fetched fountains');
      _.each(fountains, function(fountain) {
        var renderedFountainTemplate = fountainTemplate({
          id: fountain.id,
          userName: fountain.user_id,
          createdAt: fountain.created_at,
          working: fountain.working,
          flow: fountain.flow,
          dogBowl: fountain.dog_bowl,
          refillStation: fountain.refillStation,
          imageUrl: fountain.image_url
        });

        L.marker([fountain.location.coordinates[1], fountain.location.coordinates[0]]).addTo(map).bindPopup(renderedFountainTemplate);

      });
    });
  }


  $(function(){
    initializeMap();
  });
</script>

<div id="fountain-admin-map"></map>

<script id="fountain-details-template" type="text/x-handlebars-template">
  <h4>Fountain: {{ id }}</h4>

  <strong>created by:</strong>
  {{ userName }}<br />

  <strong>created at:</strong>
  {{ createdAt }}<br />

  <strong>working:</strong>
  {{ working }}<br />

  <strong>flow:</strong>
  {{ flow }}<br />

  <strong>dog bowl:</strong>
  {{ dogBowl }}<br />

  <strong>refill station:</strong>
  {{ refillStation }}<br />

  <img src="{{ imageUrl }}" >
</script>

<div class="text-center" id="loading"><h4>Loading...</h4></div>
