$wetap-blue: rgb(10, 168, 228);
$wetap-light-blue: rgb(59, 185, 233);
$wetap-highlight-blue: rgb(157, 220, 244);
$wetap-dark-blue: rgb(0, 53, 109);



@media only screen and (max-device-width: 480px) {

  .alert-danger {
    display:none;
  }
  body {
    color: white;
    text-align: center;
    background-color: $wetap-blue;
  }

  input{
    font-size: 1.2em;
  }

  input[type="email"], input[type="password"]{
    background-color: $wetap-light-blue;
    color: #979797;
    border: none;
    position: relative;
    height: 44.5px;
    padding-left: 15px;
    margin-bottom: 5px;
    box-sizing: border-box;
    width: 100%;
  }

  input[type="submit"]{
    background-color: $wetap-dark-blue;
    color: white;
    border: none;
    width: 73%;
    height: 45px;
    border-radius: 4px;
    margin-top: 14px;
  }

  input::-webkit-input-placeholder {
    color: $wetap-highlight-blue;
  }
  a:link, a:visited{
    color:white;
  }

  #wetap-accounts-header{
    margin-top: 30px;
    margin-bottom: 22px;

    img{
      margin-bottom:25px;
    }

    .path-alternative{
      padding: 15px;
      font-size: 1.2em;

    }
  }

}
