// Place all the styles related to the WaterFountains controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.angular-google-map-container { height: 400px; width: 600px;}
// the following allows the zoom controls to render correctly on the Google map
.gmnoprint img { max-width: none; }
